<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加</title>
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <js file="__PUBLIC__/js/WdatePicker.js"/>
    <!-- 引入Ueditor -->
    <js file='__PUBLIC__/Ueditor/ueditor.config.js'/>
    <js file='__PUBLIC__/Ueditor/ueditor.all.min.js'/>
    <!-- 更改编辑器的路径 -->
    <script type="text/javascript">
        //验证表单内容不能为空
        function isEmpty(){
            var runForm=document.addForm;
            if($.trim(runForm.title.value)==''){
                alert('标题不能为空！');
                return false;
            }
            if($.trim(runForm.content.value)==''){
                alert('内容不能为空！');
                return false;
            }
            return true;
        }

        window.UEDITOR_HOME_URL='__ROOT__/Public/Ueditor/';
        window.onload=function(){
            // 更改编辑器的宽度
            window.UEDITOR_CONFIG.initialFrameWidth=600;
            // 更改编辑器的高度
            window.UEDITOR_CONFIG.initialFrameHeight=300;
            UE.getEditor('announce',{
            　　toolbars:[
            　　　　　　　　['fullscreen', 'source', '|', 'undo', 'redo', '|',
                            'bold', 'forecolor',  'selectall', 'cleardoc', '|',
                            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                            'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                             'indent', '|',
                            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', 'lineheight',  '|',

                        ]
            　　 ],
            'fontfamily':
            [{ label:'',name:'songti',val:'宋体,SimSun'},
              { label:'',name:'yahei',val:'微软雅黑,Microsoft YaHei'},
               { label:'',name:'kaiti',val:'楷体,楷体_GB2312, SimKai'},
                { label:'',name:'lishu',val:'隶书, SimLi'}
            ]});


        }
    </script>

</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>表单</li>
        <li><a href="javascript:window.history.back()">返回</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>详情界面</span></div>
<form method="post" action="__SELF__" name="addForm" onsubmit="return isEmpty()">
    <input type="hidden" name="id" value="{$data['id']}">
    <ul class="forminfo">
        <li>
            <label>大事记时间：</label>
            <input type="text" onclick="WdatePicker()" value="{$data['time']}" name="time"  class="dfinput">
        </li>
        <li><label>大事记标题:</label>
            <textarea rows="1" cols="20" name="title" class="textinput" style="width: 400px;height: 20px;">{$data['title']}</textarea>

        <li>
        <textarea rows="3" cols="40" name="content" id="announce" >{$data['content']}</textarea>

        </li>
        <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>

    </ul>

</form>
</div>
</body>
</html>
